@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #11131d 0%,
    #11131d 50%,
    #11141c 100%
  );
}
